# model/*.joblib filter=lfs diff=lfs merge=lfs -text
# model/old_models/*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
model/feature_selector.joblib filter=lfs diff=lfs merge=lfs -text
model/multi_output_model.joblib filter=lfs diff=lfs merge=lfs -text
model/label_encoders.joblib filter=lfs diff=lfs merge=lfs -text
model/inverse_maps.joblib filter=lfs diff=lfs merge=lfs -text
model/feature_cols.joblib filter=lfs diff=lfs merge=lfs -text
model/*.joblib filter=lfs diff=lfs merge=lfs -text
